<footer>
    <section id="footer" style="background-color: rgb(241, 241, 241);" class="mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center">
                    <p>Copyright © Your Website 2021</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center">
                    <ul>
                        <li><i class="fab fa-twitter teamIcon"></i></li>
                        <li><i class="fab fa-facebook teamIcon"></i></li>
                        <li><i class="fab fa-linkedin teamIcon"></i></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center ">
                    <a href="#" class="footer3rdSection">Privacy Policy</a>
                    <a href="#" class="footer3rdSection">Terms of Use</a>
                </div>
            </div>
        </div>
    </section>
</footer>