
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="Intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 content">
                    <p>Welcome To Our Studio!</p>
                    <h1>IT'S NICE TO MEET YOU</h1>
                    <button class="btn btn-primary"><span>TELL ME MORE</span></button>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="mt-5">
        <div class="container">
            <div class="col-lg-12">
                <div class="row justify-content-center servicesHead">
                    <h2>SERVICES</h2>
                </div>
                <div class="row justify-content-center servicesHead">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-5 ">
                    <div class="card borderCard">
                        <div class="card-body myCard">
                            <i class="fas fa-shopping-cart cardIcon"></i>
                            <h6 class="card-subtitle mb-2 ">E-Commerce</h6>
                            <p class="card-text text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-5 ">
                    <div class="card borderCard">
                        <div class="card-body myCard">
                            <i class="fas fa-shopping-cart cardIcon"></i>
                            <h6 class="card-subtitle mb-2 ">E-Commerce</h6>
                            <p class="card-text text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-5 ">
                    <div class="card borderCard">
                        <div class="card-body myCard">
                            <i class="fas fa-shopping-cart cardIcon"></i>
                            <h6 class="card-subtitle mb-2 ">E-Commerce</h6>
                            <p class="card-text text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section id="Portfolio" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row justify-content-center servicesHead">
                        <h2>PORTFOLIO</h2>
                    </div>
                    <div class="row justify-content-center servicesHead">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-5 ">
                    <div class="card borderCard">
                        <div class="card-body myCard portfolioCard">
                            <img class="card-img-top" src="~/assets/img/1.jpg" data-toggle="modal" data-target="#modal1" alt="image">
                            <i class="fas fa-plus myPlus"></i>
                            <h6 class="card-subtitle mb-2 ">Threads</h6>
                            <p class="card-text text-muted">Illustration</p>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="modal1" data-backdrop="static" data-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <div class="modal-header">


                                                    <div class="card-body myCard portfolioCard Modal">

                                                        <h6 class="card-subtitle mb-2 ">Threads</h6>
                                                        <p class="card-text text-muted">Illustration</p>
                                                        <img class="card-img-top" src="~/assets/img/1.jpg" data-toggle="modal" data-target="#modal1" alt="image">
                                                        <p class="info">Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>

                                                        <div class="editDiv">
                                                            <p class="editer"><span>Client:</span> Threads</p>
                                                            <p class="editer"><span>Category:</span> Illustration</p>
                                                        </div>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            <i class="fas fa-times"></i> Close Project
                                                        </button>
                                                    </div>

                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="team" style="background-color: rgb(241, 241, 241);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                    <div class="row justify-content-center servicesHead">
                        <h2>OUR AMAZING TEAM</h2>
                    </div>
                    <div class="row justify-content-center servicesHead">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card borderCard" style="background-color: rgb(241, 241, 241);">
                        <div class="card-body myCard teamCard">
                            <img class="card-img-top" src="~/assets/img/team-1.jpg" alt="image">
                            <h6 class="card-subtitle mb-2 ">Parveen Anand</h6>
                            <p class="card-text text-muted">Lead Designer</p>
                            <ul>
                                <li><i class="fab fa-twitter teamIcon"></i></li>
                                <li><i class="fab fa-facebook teamIcon"></i></li>
                                <li><i class="fab fa-linkedin teamIcon"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center servicesHead teamContent">
                <div class="col-lg-8 mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
                </div>
            </div>
        </div>
    </section>

    <section id="company" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6  my-3 px-5">
                    <img class="img-fluid" src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/microsoft.svg" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3 px-5">
                    <img class="img-fluid" src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/google.svg" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-1 mb-3 px-5">
                    <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/facebook.svg " alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mt-1 mb-3 px-5">
                    <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/ibm.svg" style="height: 56px;" alt="">
                </div>
            </div>
        </div>
    </section>
</main>

