#navbar{
    height: 100px;
}
#navbar .navRightMargin{
    margin-left: 42%;
}
.MyNavbar{
    margin-top: 20px;
}
.burger{
    color: white;
}
.MyNavbar img{
    height: 30px;
}
.MyNavbar  .navRightMargin a{
    font-size: 18px;
    color: white;
}
.navRightMargin a{
    transition: .3s;
}
.navRightMargin a:hover{
color: #ffc800;
}
.navbarcolor{
    background-color: black;
    opacity: 0.6;
    height: 60px;
}
.MyNavbarScroll{
    margin-top: 20px;
}
.MyNavbarScroll img{
    height: 20px;
}
.MyNavbarScroll  .navRightMargin a{
    font-size: 18px;
    color: white;
}
.navbarHeight{
    height: 25px;
}
#Intro{
    background-image: url("/assets/img/header-bg.jpg");
    height: 100%;
    min-height: 800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    text-align: center;
    position: relative;
}
#Intro .content{
    /* content: ""; */
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Intro .content h1{
    font-size: 70px;
    color: white;
}
#Intro .content p{
    color: white;
    font-style: italic;
    font-size:40px;
    font-weight: 500;
}
#Intro .content button{
    margin-top: 2%;
    background-color: #ffc800;
    padding: 20px 40px;
    border: none;
}
#Intro .content button:hover{
    background-color: #d6aa0b;
}
#Intro .content button span{
    font-weight: bold;
    font-size: 20px;
}
.servicesHead h2{
    font-size: 35px;
    font-weight: bold;
}
.servicesHead p{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
.myCard{
    text-align: center;
}
.borderCard{
    border: none;
}
.myCard h6{
    font-size: 28px;
    font-weight: bolder;
    margin-top: 30px;
}
.myCard p{
    color: #6c757d !important;
    line-height: 1.75;
    margin-top: 30px;
}
.cardIcon{
    font-size: 50px;
    padding: 30px;
    border-radius: 50%;
    background-color: #ffc800;
}
.portfolioCard{
    padding: 0;
}
.portfolioCard h6{
    margin-top: 15px;
}
.portfolioCard p{
    margin-top: 0;
    font-style: italic;
}
.portfolioCard img{
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}
.portfolioCard img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #d6aa0b;
    z-index: 2;
}
.myPlus{
    position: absolute;
    top: 36%;
    left: 50%;
    color: transparent;
    font-size: 80px;
    z-index: 9;
    transform: translate(-50%, -50%);
    transition: .3s;
}
.portfolioHover:hover .myPlus{
    color: white;
}
.Modal h6{
    font-size: 45px;
    margin-top: 30px;
}
.Modal .info{
    color: black!important;
    margin-top: 15px;
}
.Modal .editer{
    color: black!important;
    font-style: normal;
    margin: 0;
}
.Modal .editer span{
    font-weight: bold;
}
.Modal .editDiv{
    margin: 3% 0;
}
.Modal button{
    background-color: #d6aa0b;
    border: none;
    padding: 2% 7%;
}
.Modal button:hover{
    background-color: #bb9716;
    border: none;
}